body {
    font-family: 'Open Sans', sans-serif;
}

.app-wrap {
    background-color: #f3f3ed;
}

.app-wrap header {
    height: 60px;
    background-color: #95b85e;
}

.app-content {
    width: 620px;
    margin: 0 auto;
}
